body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    
    background-size: cover;
}
.nav-section{
    display: flex;
    justify-content: space-between;
}
.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-list a{
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: .20em;
    font-weight: 400;
}
.nav-list a:hover{
    color: crimson;
}
.nav-icon{
    border: none;
    background: none;
    color: white;
    font-size: 30px;
    margin-right: 10px;
    display: none;
}

.home-text{
    color: white;
    padding: 20px;
    padding-bottom: 381px;
    margin-top: 150px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}
.home-text h1{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    
}
.home-text h2{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .10em;
    
}

.resume-btn{
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
    text-decoration: none;
}
.resume-btn:hover{
    background-color: rgba(0, 0, 0, 0.178);
}

.btn{
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
}
.live-btn{
    background-color: green;
    color: white;
    border: 1px solid green;
}
.live-btn:hover{
    background-color: white;
    color: green;
}
.client-btn{
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
}
.client-btn:hover{
    background-color: white;
    color: crimson;
}

.server-btn{
    background-color: yellowgreen;
    color: white;
    border: 1px solid yellowgreen;
}
.server-btn:hover{
    background-color: white;
    color: yellowgreen;
}

.about, .skills, .projects, .contact{
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin-top: 66px; /* Location of the box */
    margin-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.about-text, .skills-text, .projects-text, .contact-text{
    background-color: #00000086;
    margin: auto;
    padding: 20px;
    color: white;
    width: 95%;
    height: 95%;
  }
.about-desc, .about-passion{
    padding: 25px;
    text-align: justify;
}
.about-desc h2, .about-passion h2{
    font-size: 30px;
    font-weight: bold;
}
  .close {
      margin-left: 20px;
    color: #aaaaaa;
    font-size: 40px;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: none;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 17, 0);
    text-decoration: none;
    cursor: pointer;
  }
  
.skills-list{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 25px;
    padding: 20px;
}
.projects-list{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 20px;
}
.skills-item, .project-item, .contact-item{
    background: rgba(0, 25, 54);
    border-radius: 5px;
    border: 1px solid rgb(8, 58, 37);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}
.skills-item:hover, .project-item:hover, .contact-item:hover{
    background: rgba(0, 25, 54, 0.5);
}
.project-item{
    padding-bottom: 20px;
}
.skills-item img{
    width: 100px;
    height: 100px;
}
.skills-bar{
    padding: 10px;
}
.skills-bar h1{
    font-size: 25px;
    font-weight: bold;
}

.tech-text{
    font-weight: bold;
    text-align: start;
}
.features-list{
    text-align: start;
}
.project-img img{
    width: 100%;
}
.contact-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 20px;
}
.contact-item a{
text-decoration: none;
color: white;
}
.name-field, .email-field, .message-field{
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(8, 58, 37);
    border-radius: 5px;
}

.send-btn{
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.social-media{
    text-align: start;
    font-size: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}


footer{
    text-align: center;
    color: white;
    padding: 4px;
}

/* Responsive for mobile device */
@media screen and (max-width: 600px) {
    .skills-list, .projects-list, .contact-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .nav-list{
        display: none;
        position: absolute;
        background-color: aliceblue;
        border-radius: 5px;
        text-align: center;
        margin-top: 30px;
    }
    .nav-list a{
        color: black;
        padding: 10px;
    }
    .nav-icon{
        display: block;
    }
}

.home-text h1{
    position: relative;
    top: 50%;  
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter h1{
  animation: typewriter 4s steps(44) 1s 1 normal both,
blinkTextCursor .75s steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 17em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.about-desc h2, .about-passion h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */ /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3s steps(44) 1s 1 normal both,
      blink-caret .75s infinite normal;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 27vh }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
